*
*/**
**/*.js.map
!out/extension.js
!syntaxes/*.tmLanguage.json
!resources/
!resources/**
!media/
!configurations/
!package.json
!package.nls.json
!README.md
!UPSTREAM.md
!icon.png
!CHANGELOG.md
!LICENSE
!ThirdPartyNotices.txt
